name: First Work
on:
  push:
    branches:
      - main
jobs:
 first-workflow:
  runs-on: ubuntu-latest
  
  steps:
   - name: First Step
     run: |
      echo "Hello World!"
      echo "Hello Again!"